# HPC Server Configuration

# Create environment
cd /beegfs/mm11333/dl-master-voices/
module load python3/intel/3.5.3
python3 -m virtualenv mvenv
source mvenv/bin/activate
pip install -r requirements.txt

# Run experiment
screen -S gmf

srun --time=168:00:00 --ntasks-per-node=1 --gres=gpu:1 --mem=64000 --pty /bin/bash
export PYTHONPATH=/beegfs/mm11333/dl-master-voices/
cd /beegfs/mm11333/dl-master-voices/
module load ffmpeg/intel/3.2.2
module unload cuda/8.0.44
module load cuda/10.0.130
module load cudnn/10.0v7.6.2.24
source mvenv/bin/activate

export PRJ_PATH="${PWD}"
export AUDIO_DIR="/beegfs/mm11333/data/voxceleb1/dev,/beegfs/mm11333/data/voxceleb2/dev"
export VAL_BASE_PATH="/beegfs/mm11333/data/voxceleb1/test"
export NET="resnet50vox"
export PYTHONPATH=$PRJ_PATH
source $PRJ_PATH/mvenv/bin/activate
python -u $PRJ_PATH/routines/verifier/train.py --audio_dir $AUDIO_DIR --val_base_path $VAL_BASE_PATH --net $NET --learning_rate 0.01 --aggregation 'gvlad' --batch 32 --val_n_pair 100


export PRJ_PATH="${PWD}"
export AUDIO_DIR="/beegfs/mm11333/data/voxceleb1/dev,/beegfs/mm11333/data/voxceleb2/dev"
export NET="wavegan"
export GENDER="neutral"
export PYTHONPATH=$PRJ_PATH
source $PRJ_PATH/mvenv/bin/activate
python -u $PRJ_PATH/routines/gan/train.py --net $NET --audio_dir $AUDIO_DIR --gender $GENDER



# Port forwarding from my laptop to the server
ssh -L 7853:localhost:7853 mm11333@prince.hpc.nyu.edu
