# HPC Server Configuration

# Request Resources
srun --time=168:00:00 --ntasks-per-node=1 --gres=gpu:1 --mem=128000 --pty /bin/bash

# Project Setup
git clone https://github.com/mirkomarras/dl-master-voices.git
cd ./dl-master-voices/
module load python/intel/3.8.6
python -m virtualenv mvenv
source mvenv/bin/activate
pip install -r requirements.txt
unzip /archive/m/mm11333/data_original.zip
mkdir jobs

# Give rwx permission to external data
setfacl -m u:mlc761:rwX /beegfs/mm11333/
setfacl -m u:pk91:rwX /beegfs/mm11333/
setfacl -m u:mlc761:rwX /beegfs/mm11333/data/
setfacl -m u:pk91:rwX /beegfs/mm11333/data/
setfacl -Rm u:mlc761:rwX /beegfs/mm11333/data/voxceleb1
setfacl -Rm u:mlc761:rwX /beegfs/mm11333/data/voxceleb2
setfacl -Rm u:pk91:rwX /beegfs/mm11333/data/voxceleb1
setfacl -Rm u:pk91:rwX /beegfs/mm11333/data/voxceleb2
getfacl /beegfs/mm11333/data/voxceleb1
getfacl /beegfs/mm11333/data/voxceleb2

setfacl -m u:mlc761:rwx /beegfs/mm11333/data/data_20200706.zip
setfacl -m u:pk91:rwx /beegfs/mm11333/data/data_20200706.zip
getfacl /beegfs/mm11333/data/data_20200706.zip

# Create symlinks to voxceleb dataset
ln -s /beegfs/mm11333/data/voxceleb1 ./data/
ln -s /beegfs/mm11333/data/voxceleb2 ./data/

# Prepare for running scripts
srun --time=168:00:00 --ntasks-per-node=1 --gres=gpu:1 --mem=8000 --pty /bin/bash
cd /home/mm11333/dl-master-voices/
source mvenv/bin/activate
module load ffmpeg/4.2.4
module load libsndfile/intel/1.0.31
module load cuda/10.0.130
module load cudnn/10.0v7.6.2.24

# Port forwarding from your laptop to the server for notebook
sbatch ./notebooks/run_jupyterlab_cpu.sbatch
ssh -L 9869:localhost:9869 mm11333@greene.hpc.nyu.edu

# Master voice test
export PYTHONPATH=$PYTHONPATH:/home/mm11333/dl-master-voices
python3 routines/mv/generate_populations.py -p "dev-test" -s "train/100/20,test/100/10" --dirname "/scratch/mm11333/voxceleb2/dev"
python3 routines/mv/test.py --net "vggvox/v004" --mv_set "vggvox_v000_pgd_spec_m/v028/sv,vggvox_v000_pgd_spec_m/v028/mv" --pop "data/vs_mv_pairs/mv_test_population_dev-test_100u_10s.csv" --dirname "/scratch/mm11333/voxceleb2/dev"
python3 routines/mv/optimize.py --netv vggvox/v004 --seed /scratch/mm11333/vs_mv_seed/female --audio_dir /scratch/mm11333/voxceleb2/dev --gender female --gradient normed --train_pop data/vs_mv_pairs/mv_train_population_dev-test_100u_20s.csv --test_pop data/vs_mv_pairs/mv_test_population_dev-test_100u_10s.csv --batch 16 --attack pgd@spec

# virtualenv
# audio_folder_path in population files
# adjust test, dataset, optimize
# how to run notebooks